#btn_navIcon {
    display: none;
    margin: 15px;
    padding: 10px 15px 0 15px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(234, 234, 234), rgb(226, 234, 237));
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#btn_navIcon:hover {
    background-image: linear-gradient(to bottom right, rgb(96, 215, 255), rgb(68, 208, 255), rgb(32, 182, 234));
    outline: rgba(0, 0, 0, 0.1) solid 1px;
}

#closeNav {
    width: 40px;
    height: 40px;
    fill:aliceblue
}

@media screen and (max-width: 815px) {
    #btn_navIcon {
        display: block;
        position: fixed;
        top: 0;
        right: 5%;
        align-content: center;
      }

      .Navigation {
        display: none;
        flex-direction: column;
        border-radius: 100px;
        height: 333px;

        position: fixed;
        top: 2px;
        right: 5%;
        align-content: center;
      }

      li, a {
        padding: 5px;
      }
}

@media screen and (min-width: 815px) {
.Navigation {
    display: flex;
  }

  #btn_closeNav {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #btn_navIcon {
    margin-top: 10px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 450px) {
  #btn_navIcon {
    margin-top: 4px;
  }
}

#playPauseSVG {
  fill: white;
}

