.contact_popup {
    display: none;
	position: fixed;

    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;

	width: 480px;
	padding: 20px;
    border-radius: 25px;
	background:#b277f5;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);

    animation: fade 0.4s;
}

.popup_txt {
	vertical-align: middle;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#exitPopup {
    width: 62px;
    height: 62px;
	padding: 5px;

    border-radius: 50%;
    background-color: #b277f5;
	color: #fff;
	font-size: 20px;
    font-weight: 800;
	border: 0;

    margin: -10% 0 0 95%;

	cursor: pointer;
}

#btn_exitPopup, #btn_collapseNav {
    width: 50px;
    height: 50px;
	padding: 5px;
    border-radius: 50%;

    background-image: linear-gradient(to bottom left, rgb(119, 221, 255), rgb(32, 182, 234));
	color: #fff;
	font-size: 20px;
    font-weight: 800;
	border: 0;

	cursor: pointer;
}

#btn_exitPopup:hover, #btn_collapseNav:hover {
    background-image: linear-gradient(to bottom left, rgb(253, 129, 129), rgb(255, 100, 100));
    font-size: 25px;
    color: #111;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    transition: all .4s ease-in;
}


.contact_popup button:focus {
	background:#054d6f;
}

.screen_blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.2);
    z-index: 1;
}

@media screen and (max-width: 760px) {
    .contact_popup {
        width: 70%;
        margin-top: 5%;
    }

    .contact_popup>img {
        width: 170px;
    }

    .popup_txt {
        font-size: 18px;
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes fadeReverse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }